@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Aqui para você</h1>
    <p>http://localhost:5183/CityManager/CityDetails/Cidade</p>
</div>