@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <h2>Sei que não era exatamente o que a questão queria, mas quis tentar ir um pouco além e criar links baseados nas entradas do formulário. Usei país ao invés de cidade pq dava para reutilizar parte do código do exercício 07 rs.</h2>
</div>